[Unit]
Description=Run network speedtest every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
Unit=network-check-collect.service

[Install]
WantedBy=timers.target
