[Unit]
Description=Run network speedtest every 5 minutes (wall-clock aligned)

[Timer]
OnCalendar=*:0/5
Persistent=true
AccuracySec=10s
Unit=network-check-collect.service

[Install]
WantedBy=timers.target
